@font-face {
    font-family: 'Flappy-Bird-Regular';
    src: url('./fonts/flappy-font.woff2') format('woff2'),
         url('./fonts/flappy-font.woff') format('woff'),
         url('./fonts/flappy-font.ttf') format('truetype');
  }
  
body{
    font-family: 'Flappy-Bird-Regular';
    text-align: center;
    overflow: hidden;
}
#board{
    background-image: url("./images/flappybirdbg.png");
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
}
