@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');
body{
    font-family: 'Handjet';
    text-align: center;
    overflow: hidden;
    background-color: rgb(64, 156, 156);
}
#board{
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
}
.creator{
    font-weight: bold;
    font-size: 1.5rem;
}

